<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>users</key>
	<array>
		<dict>
			<key>username</key>
			<string>abc</string>
			<key>password</key>
			<string>123</string>
		</dict>
	</array>
	<key>Countries</key>
	<array>
		<string>Canada</string>
		<string>India</string>
		<string>Philippines</string>
		<string>Turkey</string>
		<string>Japan</string>
	</array>
</dict>
</plist>
